<!DOCTYPE html>
<html>
<head>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

	<script>
		
		//Got the BTC to ETH Price
		
		// Receive the Trade Data
		//socket.on('tradeRes', function(data){
			// Display the Status. 

		//});
		//socket.on('orderRes', function(data){
			// Display the new order (maybe switch to mongo????)
		//});

	</script>
	<% include ../partials/homePageHead.ejs %>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Eth Testing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
	<body ng-app="ethapp">
	<div ng-controller="appcontroller">
		<h4>Example Ether Donate Button working with Metamask account 1 as web3.eth.accounts[0]</h4>
		<input type="text" id="ethDonationValue" placeholder="in eth..."></input>
		<md-button type="submit" value="Donate" ng-click="donateEth()">Donate!</md-button>
		<div>
			<span>Result: </span><span ng-model="donationTransResult"></span>
		</div>
	</div>
	</body>
</html>