<!DOCTYPE html>
<html>
<head>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

	<script>
		
		//Got the BTC to ETH Price
		
		// Receive the Trade Data
		//socket.on('tradeRes', function(data){
			// Display the Status. 

		//});
		//socket.on('orderRes', function(data){
			// Display the new order (maybe switch to mongo????)
		//});

	</script>
	<% include ../partials/homePageHead.ejs %>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Crypto</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body ng-app="ethapp">
<div ng-controller="appcontroller">
	Hello, World!!!!!!!

	</div>
	</body>
</html>